services:
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./src:/var/www/src/public
    depends_on:
      - php
    restart: always

  php:
    build:
      context: .
      dockerfile: ./docker/php/Dockerfile
      args:
        APP_ENV: local
    container_name: php
    volumes:
      - ./src:/var/www/src/public
    ports:
      - "9000:9000"
    environment:
      - DB_CONNECTION=mysql
      - DB_HOST=mysql
      - DB_PORT=3306
      - DB_DATABASE=db-atte
      - DB_USERNAME=user
      - DB_PASSWORD=pass
    depends_on:
      - mysql
    restart: always

  mysql:
    image: mysql:8.0.26
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: db-atte
      MYSQL_USER: user
      MYSQL_PASSWORD: pass
    volumes:
      - ./docker/mysql/data:/var/lib/mysql
      - ./docker/mysql/my.cnf:/etc/mysql/conf.d/my.cnf
    ports:
      - "3306:3306"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: phpmyadmin
    environment:
      - PMA_HOST=mysql
      - PMA_USER=user
      - PMA_PASSWORD=pass
    ports:
      - "8080:80"
    depends_on:
      - mysql
    restart: always

  mailhog:
    image: mailhog/mailhog
    container_name: mailhog
    ports:
      - "1025:1025"
      - "8025:8025"
